@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

[data-theme="dark"] {
    --background-color: #152733;
    --text-color: #fff;
    --border-color: #fff;
    --table-even: rgb(187, 186, 186);
}

[data-theme="light"] {
    --background-color: #f7f7f7;
    --text-color: rgb(0, 0, 0);
    --border-color: rgb(0,0,0);
    --table-even: rgb(187, 186, 186);
}


*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    color: var(--text-color);
}
  
.row {
    display: flex;
    flex-direction: initial;
}

.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
      flex: 1;
}

.resultArea {
    flex: 4;
}

.outputBox {
    margin: 5rem 2rem;

}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid var(--border-color);
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    vertical-align: middle;
}

.form-content h3 {
    color: var(--text-color);
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: var(--text-color);
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: var(--text-color);
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: var(--background-color);
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: var(--background-color);
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: var(--text-color);
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}

.image {
    height: max-content;
    width: max-content;
}

#erDiag {
    display: none;
}

#sqlOutput {
    width: 70rem;
    height: 50rem;
    border-radius: 5px;
    border: 3px var(--border-color) solid;
    padding-bottom:1rem;
    padding-top:  1rem;
}

.result-footer {
    position: fixed;
    bottom: 5rem;
    width: inherit;
}

#exec-time {
    float: right;
    margin-right: 1rem;
}

#recordDiv, #pagination {
    float: left;
    margin-left: 1rem;
}

table#result  { 
    display: inline-block; 
    overflow: auto; 
    border-collapse: collapse; 
    height: 90%;
    margin: 1rem 1rem 0 1rem;
}

table#result thead { 
    margin-top: -20px; 
    position: absolute; 
}

table#result tr:nth-child(even) { 
    background: var(--table-even); 
}