<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="mainer.css">
    </head>
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Query Execution Engine</h3><br><br>
                        <form class="requires-validation" novalidate>

                            <div class="col-md-12 mt-3">
                                <label class="mb-3 mr-1" for="dbname">Database: </label>
                                <input id="dbname" type="text" placeholder="Name of database"><br><br>
    
                                <input type="radio" class="btn-check" name="choice" id="sql" autocomplete="off" required>
                                <label for="sql">SQL</label>
    
                                <input type="radio" class="btn-check" name="choice" id="redshift" autocomplete="off" required>
                                <label for="redshift">Redshift</label><br><br>
    
                                <div class="valid-feedback mv-up">You selected a framework!</div>
                                <div class="invalid-feedback mv-up">Please select a framework!</div>
                            </div>
    

                        <div class="col-md-12">
                            <textarea id="query" name="query" rows="4" cols="50" placeholder="Enter your sql query"></textarea><br><br>
                           <div class="valid-feedback">Query is valid!</div>
                           <div class="invalid-feedback">Query cannot be blank!</div>
                        </div>


                        <div class="form-button mt-3">
                            <button id="run" type="submit" class="btn btn-primary">Run!</button>&nbsp
                            <a href="indexnew.html" class="btn btn-secondary">Hide ER</a>
                        </div>
                    </form>
                </div>
                <div class="image">
                    <img src="/Users/arathireghukumar/Desktop/er.png" style="vertical-align:right" height="600" width="700">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="mainnew.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
